@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,700;1,400&display=swap');
$white: #f3f3f3;
$red: #85152b;
$green: #0b5550;
$greenish: #3fc974;
$redish: #e72e2e;
$gray: #cac7c1;
$background-color: #073431;
$weight-small: 300;
$weight-regular: 400;
$weight-bold: 700;
$mobile-paragraph: clamp(3rem, 4vw, 4rem);
$mobile-large: clamp(6rem, 7vw, 8rem);
$mobile-h2: clamp(2rem, 3vw, 3rem);
$tshadow: 1px 1px 6px rgba($color: #000000, $alpha: 1);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html {
    font-size: 10px;
    background: $green;
    color: $white;

}

body {

    width: 100%;
    height: 100vh;

}

.red {
    color: $redish;
    text-shadow: $tshadow;
}

.green {
    color: $greenish;
    text-shadow: $tshadow;
}

@media screen and (min-width: 300px) {

    .hero {
        transition: all 2s ease;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0px auto;

        .mega-container {

            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;


            .title {
                margin: 0 auto;
                font-size: clamp(5rem, 6vw, 8rem);
                text-align: center;
                text-shadow: $tshadow;
            }

            .santa{
                position: absolute;

                transition: all 1s ease;

                width: 150px;
                height: auto;

                bottom: 5%;
                left: 5%;
            }

        }

        .container {


            width: 100%;

            display: grid;

            gap: 1rem;

            grid-template-columns: 1fr 1fr;

        }

        .par {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 8rem;
            text-shadow: $tshadow;
            font-weight: $weight-small;
            font-size: $mobile-large;

            span {
                font-weight: $weight-bold;
                text-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.8), 2px 4px 4px rgba($color: #000, $alpha: 0.6), 6px 6px 4px rgba($color: #000, $alpha: 0.4);
            }
        }

        .share {
            margin: 0 auto;

            h2 {
                font-size: $mobile-paragraph;
                text-shadow: $tshadow;
            }

            .share-icons {
                text-align: center;
            }

        }
    }

    button {
        background: $white;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        margin: 1rem;
        border-radius: 3rem;
    }

    a {
        color: white;
    }

    .twitter,
    .facebook {
        font-size: clamp(4rem, 6vw, 6rem);
        margin: 0 2rem;

    }


    button {
        padding: 4rem;
        border: 3px solid $red;
        background: none;
    }

    .music {
        display: flex;
        background: linear-gradient(#e66465, #9198e5);;
        width: 100%;
        height: 100vh;
        font-size: $mobile-h2;
        color: $white;
        text-align: center;
        flex-direction: column;

        .music-container {
            width: 80%;
            margin: 0 auto;
            height: 50%;
            background-color: rgba($color: $greenish, $alpha: 0.4);

            display: flex;
            justify-content: center;
            align-items: center;

            .player {
                display: flex;
                align-items: center;
                flex-direction: column;

                .info {
                    display: flex;
                    flex-direction: column;

                    .song-title {
                        font-size: $mobile-paragraph;
                        font-weight: $weight-bold;
                    }

                    .artist-name {
                        font-size: $mobile-paragraph;
                        font-weight: $weight-bold;
                    }
                }

                .cbuttons {
                    display: flex;
                    justify-content: center;
                    flex-direction: row;

                    .btn-play {
                        flex: 1 1 20rem;

                        #iplay {
                            font-size: clamp(2rem, 3vw, 3rem);
                            color: $white;
                        }
                    }

                    .btn-mute {
                        flex: 1 1 20rem;

                        #imute {
                            color: $white;
                            font-size: clamp(2rem, 3vw, 3rem);
                        }
                    }
                }

                .label-slider {
                    margin-top: 1rem;
                    font-size: 1.5rem;

                    input[type=range] {
                        appearance: none;
                        width: 100%;
                        height: 5px;
                        border-radius: 4px;
                        background: $redish;
                        outline: none;
                        transition: opacity .6s;
                        opacity: 0.7;

                        &::-webkit-slider-thumb {
                            appearance: none;
                            width: 1.2rem;
                            height: 2.4rem;
                            border: 0;
                            cursor: pointer;
                            background: $greenish;
                            border-radius: 1rem;
                        }

                        &::-moz-range-thumb {
                            appearance: none;
                            background: $greenish;
                            width: 1.2rem;
                            height: 2.4rem;
                            border: 0;
                            cursor: pointer;
                            border-radius: 1rem;
                        }

                        &::-ms-thumb {
                            appearance: none;
                            width: 1.2rem;
                            height: 2.4rem;
                            border: 0;
                            cursor: pointer;
                            background: $greenish;
                            border-radius: 1rem;
                        }
                    }
                }
            }
        }
    }

    .autoslides {
        position: absolute;
        top: 0;
        z-index: -9999;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(/images/toni-cuenca-CvFARq2qu8Y-unsplash.jpg);
        width: 100%;
        height: 100%;
    }

}


@media screen and (min-width: 1200px) {

    .hero {
        width: 80%;
        left: 10%;
        
        
        .mega-container{
        .santa{
            height: auto;
            width: 35rem;
            left: 10%;
            bottom: 0%;
        }
    }
        .container {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    
    }


}