@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,700;1,400&display=swap');
$white: rgb(238, 232, 232);
$background-color: rgb(39, 32, 32);
$weight-small: 300;
$weight-regular: 400;
$weight-bold: 700;
$tshadow: 1px 1px 6px rgba($color: #000000, $alpha: 1);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html {
    font-size: 10px;
    background: $background-color;
    color: $white;
    
}


body {
    background-image: url(../images/annie-spratt.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

@media screen and (min-width: 300px) {

    .hero {
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: hidden;
        max-width: 100%;
        max-height: 100%;

        .mega-container {
            width: 90vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            z-index: 999;
            h1 {
                margin: 10rem auto 0 auto;
                font-size: clamp(4rem, 8vw, 12rem);
                text-align: center;
                text-shadow: $tshadow;
            }
        }

        .container {
            margin: 3rem auto;
            width: 90vw;
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;

            font-size: clamp(4rem, 7vw, 9rem);
        }

        .par {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-shadow: $tshadow;
            font-weight: $weight-small;
            font-size: clamp(4rem, 8vw, 7rem);

            span {
                font-weight: $weight-bold;
                text-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.8), 2px 4px 4px rgba($color: #000, $alpha: 0.6), 6px 6px 4px rgba($color: #000, $alpha: 0.4);
            }
        }

        .share {
            margin: 0 auto;

            h2 {
                font-size: clamp(2rem, 4vw, 6rem);
                text-shadow: $tshadow;
            }

            .wrap {
                text-align: center;
            }

        }
    }

    button {
        background: $white;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;

        padding: 1rem 2rem;
        margin: 1rem;
        border-radius: 3rem;
    }

    a {
        color: white;
    }

    .twitter,
    .facebook {
        font-size: clamp(3rem, 5vw, 5rem);
        margin: 0 2rem;

    }

    .space{
        margin: 0 1rem;
    }



    .music{
        background: rgb(145, 170, 173);
        height: 100%;
        width: 100%;
    }

    button{
        padding: 4rem;
        border: 1px solid crimson;
        background: none;
    }

}


@media screen and (min-width: 1000px) {
    .hero {
        max-width: 90%;
        .container {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

